<div *ngFor="let post of posts">
    <div class="card">
      <h3 class="card-header">
           {{post.title}}
        </h3>
      <div class="card-body">
          <blockquote class="blockquote">
              <p>{{post.inhoud}}</p>
              <footer class="blockquote-footer">{{post.auteur}}</footer>
          </blockquote>
      <a class="card-link" [routerLink]="['/post-detail', post.id]">View details</a>      
    </div>
  </div>
  <p>{{ post.averageRond }}/10   ({{post.aantalRates}} stemmen) score: {{post.scoreRond}}</p>
  <br>
</div>
<ngb-pagination [collectionSize]="totalPosts" [pageSize]="10" [(page)]="page"></ngb-pagination> 