<h2 class="page-header">Register</h2>
<form [formGroup]='user' (ngSubmit)="onRegisterSubmit()">
  <div class="form-group">
    <label for="name">Naam</label>
    <input type="text" id="name" formControlName="name" class="form-control">
    <div class="text-danger" *ngIf='user.get("name").errors?.required && user.get("name").touched'>
      Naam is verplicht!
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username" class="form-control">
    <div class='text-danger' *ngIf='user.get("username").errors?.required && user.get("username").touched'>
      Username is verplicht!
    </div>
    <div class='text-danger' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
      Deze username is al in gebruik.
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"  formControlName="email" id="email" class="form-control">
    <div class='text-danger' *ngIf='user.get("email").errors?.required && user.get("email").touched'>
      Email is verplicht!
    </div>
    <div class='text-danger' *ngIf='user.get("email").errors?.emailAlreadyExists && user.get("email").touched'>
      Deze email is al in gebruik.
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password" class="form-control">
    <div class='text-danger' *ngIf='user.get("password").errors?.required && user.get("password").touched'>
      Password is verplicht!
    </div>
  </div>
  <input type="submit" [disabled]="!user.valid" class="btn btn-success" value="Submit">  
</form>


