

<nav class= "navbar navbar-expand-lg navbar-dark bg-primary">
  <a class ="navbar-brand" href="#">MoppenTapper</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}"><a class="nav-link" [routerLink]="['/']">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Categorie<span class="caret"></span>
          </a>
          <div class="dropdown-menu" *ngFor="let categorie of categorien">
            <div *ngFor="let categorie of categorien">
                <a class="dropdown-item" [routerLink]="['/categorie', categorie._id]">{{categorie.name}}</a>                
            </div>
          </div>
        </li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}"><a class="nav-link" [routerLink]="['/profile']">Profiel</a></li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}"><a class="nav-link" [routerLink]="['/add-post']">Nieuwe post</a></li>          
          <li class="nav-item" *ngIf="!authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}"><a class="nav-link" [routerLink]="['/login']">Inloggen</a></li>
          <li class="nav-item" *ngIf="!authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}"><a class="nav-link" [routerLink]="['/register']">Registreren</a></li>
          <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Uitloggen</a></li>
        </ul>
    </div>
</nav>