<br>
<form [formGroup]='post' (ngSubmit)='onSubmit()'>
  <fieldset>
  <h3 class="ui header">Add post</h3>
  <div class="form-group">
    <label for="title_id">titel:</label>
    <input type="text" class="form-control" id="title_id" formControlName='title'>
  </div>
  <div class="form-group">
    <label for="inhoud_id">inhoud:</label>
    <textarea class="form-control" id="inhoud_id" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 117px;" formControlName="inhoud"></textarea>
  </div>
  <div class="form-group">
    <select class="form-control" id="categorie_id" formControlName='category'>
      <option *ngFor='let categorie of categorien'>{{categorie.name}}</option>
    </select>
  </div>
  <button type='submit' class="btn btn-success mt-2">add</button>
</fieldset>
</form>