<div class="jumbotron text-center">
  <h1>MoppenTapper</h1>
  <div class="lead">
  <p>Welkom op mijn site, hier kan je de beste mopjes van Belgie vinden!</p>
  <p>Je kan alles lezen zonder in te loggen.</p>
  <p>Indien je wenst te reageren of een beoordeling wilt geven, moet je eerst inloggen of registreren!</p>
  <p>TODO: filter op: newest, hottest, most voted, most scored</p>
  <p>TODO: My posts</p>
  <p>TODO: authenticatie op alle paden</p>
  <p>TODO: add post validatie en register validatie (geen 2 zelfde usernames)</p>
  <p>TODO: comment beoordeling</p>
  <p>TODO: voor iedere gebruiker een verschillende homepagina</p>
  <p>TODO: mooier zetten van alle schermen</p>
</div>
  <div *ngIf="!authService.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>



<div *ngFor="let post of posts">
    <div class="card">
      <h3 class="card-header">
           {{post.title}}
        </h3>
      <div class="card-body">
          <blockquote class="blockquote">
              <p>{{post.inhoud}}</p>
              <footer class="blockquote-footer">{{post.auteur}}</footer>
          </blockquote>
      <a class="card-link" [routerLink]="['/post-detail', post.id]">View details</a>      
    </div>
  </div>
  <p>{{ post.averageRond }}/10   ({{post.aantalRates}} stemmen) score: {{post.scoreRond}}</p>
  <br>
</div>
<ngb-pagination [collectionSize]="totalPosts" [pageSize]="10" [(page)]="page"></ngb-pagination>  


