<div class="card">
    <h3 class="card-header">{{post.title}}</h3>
  <div class='card-body'>
      <p class="card-text">{{post.inhoud}}</p> 
      <p class="card-text">{{post.auteur}}</p>
      <p class="card-text">{{post.beoordeling}}</p>
    </div>   
</div>
<button (click)="toggleIsComment()">Comment</button>
<div *ngIf=isComment>
  <div class="card card-body">
      <form (submit)="addComment(commentInhoud)">
          <div class="form-group">
              <label for="commentInhoud">Inhoud: </label>
              <input type="text" class="form-control" [(ngModel)]="commentInhoud" name="commentInhoud">
          </div>
          <button type="submit" class="btn btn-primary">Comment</button>
      </form>
  </div>
</div>
    <div *ngFor="let comment of comments">
          <div class='card'>
                <div class="card-header">
                    {{comment.auteur.username}}
                    <div class="icons">
                            <button (click)="delete(comment)" class="btn btn-danger mb-3"><i class="fa fa-trash"></i></button>           
                    </div>
                </div> 
                <div class='card-body'>
                    <p class="card-text">{{comment.inhoud}}</p>
                    <p class="card-text">{{post.beoordeling}}</p>
                </div>
                
            </div>
      </div>
      